*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./images/farm-background.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    /* this block of code sets the design for the landing page */
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
    /* this is for setting the dimensio s of the navigation bar */
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 70px;
    /* this blocks are for styling the list elements */
}